// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
// body .front{
//   font-family: 'Poppins', sans-serif;
//   color: rgb(44, 44, 44);
// }
// .sans {
//   font-family: 'roboto', sans-serif;
// }
$default   : #0598c0;
:root {
  --page-width: 768px;
  --blue-light: #c0eec6;
  --default-theme: $default;
  --box-shadow: 0px 14px 16px -10px rgba(48, 48, 48, 0.04);
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}
.h1, h1 {
  font-size: 2.5rem;
}
.h2, h2 {
  font-size: 2rem;
}
.h3, h3 {
  font-size: 1.75rem;
}
.h4, h4 {
  font-size: 1.5rem;
}
.h5, h5 {
  font-size: 1.25rem;
}
.h6, h6 {
  font-size: 1rem;
}
@import 'main';
@import 'responsive';